@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");

body {
    background-color: #242424;
}

p, h1, h2, h3, h4, h5, h6, th, td, a, ul, li{
    font-family: "Roboto Mono", monospace;
    color: #ededed;
  }

.text-black {
    color: #242424;
}

.text-grey {
    color: #7d7d7d;
}

.light {
    background-color: #ededed;
}

.dark {
    background-color: #242424 !important;   
}
.light-border {
    border-color: #ededed !important;
}
.grey {
    background-color: #7d7d7d !important; 
}

.button-light {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: #ededed;
    border: 1px solid #ededed;
    padding: 7px;
    border-radius: 15px;
}
  
.button-light:hover {
    font-family: "Roboto Mono", monospace;
    color: #242424;
    background-color: #ededed;
    cursor: pointer;
}

.button-dark {
    text-decoration: none;
    font-family: "Roboto Mono", monospace;
    color: #242424;
    border: 1px solid #242424;
    padding: 8px;
    border-radius: 15px;
}
  
.button-dark:hover {
    font-family: "Roboto Mono", monospace;
    color: #7d7d7d;
    background-color: #ededed;
    cursor: pointer;
}
.min-max {
    min-height: 100vh;
}
